singularity.autoMounts = true
# Executor to be used (e.g. slurm, SGE, PBS, etc.)
process.executor = 'slurm'

# Partition/Queue to send the jobs
process.queue='scu-cpu'

params {
	sampleFile="input.csv"
	OUTPUT_DIR="$projectDir/output"
	REF_BASE="$projectDir/reference"
	SNVFLAG="$projectDir/reference/caveman/flag.vcf.config.WGS.ini"
	TMP="$projectDir/output/tmp"
	PROTOCOL="WGS"
	CONTIG_EXCLUDE='NC_007605,hs37d5,GL%'
	SPECIES='Human'
	ASSEMBLY='NCBI38'
	CAVESPLIT=350000
	ASCAT_PLOIDY=3.65
	ASCAT_PURITY=1.0	
}

process {
	time = '48h'
	
	withName: getNames {
		cpus = 1
		memory = '500M'
	}
	withName: CN_init {
		cpus = 1
		memory = '500M'
	}	
	withName: cavemanSetup {
		cpus = 2
		memory = '1000M'
	}
	withName: compareBamGenotypes {
		cpus = 1
		memory = '500M'
	}
	withName: verifyBamHomChkNormal {
		cpus = 1
		memory = '500M'
	}
	withName: cavemanSplit {
		cpus = 8
		memory = '4000M'
	}
	withName: ascat {
		cpus = 8
		memory = '32G'
	}
	withName: brass_input {
		cpus = 2
		memory = '4000M'
	}
	withName: brass_cover {
		cpus = 8
		memory = '32G'
	}
	withName: prepAscat {
		cpus = 1
		memory = '500M'
	}
	withName: pindel {
		cpus = 8
		memory = '32G'
	}
	withName: caveman_contam {
		cpus = 8
		memory = '32G'
	}
	withName: index_pindel_germline {
		cpus = 1
		memory = '500M'
	}
	withName: add_BRASS {
		cpus = 8
		memory = '32G'
	}
	withName: pindel_annotation {
		cpus = 2
		memory = '4000M'
	}
	withName: caveman_flag {
		cpus = 8
		memory = '32G'
	}
	withName: caveman_annotation {
		cpus = 2
		memory = '4000M'
	}
	withName: verifyBamHomChkTumor {
		cpus = 1
		memory = '500M'
	}
}
